@page "/questionone"

<h3>Question:</h3>

<p>If a system you are working on includes programming languages or technologies you were unfamiliar with, how would you go about working on them and becoming productive?</p>

<h3>Answer:</h3>
<p>First thing I would usually do is take a training class.  I have a subscription for Pluralsight and have found their courses a great way of learning new technologies.</p>
<p>Secondly, I would step through the code to understand the implementation.  Then, if possible, pick up a bug ticket to use to get myself even more familar.  </p>
